page-chat {

  ion-content {
    background-image: url('../assets/pattern-backgrounds.jpg') !important;
    background-size: 100% auto;
  }
  
  form {
    display: flex;
    align-items: center;
  }

  .message {
    display: flex;
    align-items: center;
    background: rgba(255,255,255,0.5);
    margin-bottom: 10px;
    border-radius: 8px;

    .name {
      color: $primary;
    }

    .date {
      font-size: 0.7em;
      color: $gray2;
    }

    .text {
      font-size: 1.4em;
    }

    .avatar {
      background-size: 100% auto;
      background-repeat: no-repeat;
      background-position: center top;
      width: 100px;
      height: 100px;
    }

    &.bot {
      .avatar {
        background-image: url('../assets/bot.png');
      }
    }

    &.user {
      justify-content: flex-end;
      text-align: right;

      .avatar {
        background-image: url('../assets/user.png');
      }
    }

  }

}

ion-footer {
  transition: 1s all;
  background: $primary2;
  padding: 10px;

  input {
    color: white;
  }

  &.down {
    bottom: -100px !important;
  }

  input {
    font-size: 1.3em;
  }
}